<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/statics/style/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <title>Dashboard || GUDLFT</title>
  </head>
  <body class="font-sans bg-gray-100">
    <table class="w-full bg-white border border-gray-300">
      <caption class="caption-bottom bg-gray-200 p-4 font-bold">
        Number of points for each clubs
      </caption>
      <thead class="bg-blue-200">
        <tr>
          <th class="border border-gray-300 py-2 px-4">Clubs</th>
          <th class="border border-gray-300 py-2 px-4">Number of points</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-200">
          <th class="border border-gray-300 py-2 px-4">Simply Lift</th>
          <td class="border border-gray-300 py-2 px-4 text-center">13</td>
        </tr>
        <tr class="bg-white">
          <th class="border border-gray-300 py-2 px-4">Iron Temple</th>
          <td class="border border-gray-300 py-2 px-4 text-center">4</td>
        </tr>
        <tr class="bg-gray-200">
          <th class="border border-gray-300 py-2 px-4">She Lifts</th>
          <td class="border border-gray-300 py-2 px-4 text-center">12</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
