<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
    <h2>Welcome, {{club['name']}} </h2><a href="{{url_for('logout')}}">Logout</a> <br>

   
    Points available: {{club['points']}}
    <section>

        <table class="w-full bg-white border border-gray-300">
            <caption class="caption-bottom bg-gray-200 p-4 font-bold">
            Number of points for each clubs
            </caption>
            <thead class="bg-blue-200">
            <tr>
                <th class="border border-gray-300 py-2 px-4">Clubs</th>
                <th class="border border-gray-300 py-2 px-4">Number of points</th>
            </tr>
            </thead>
            <tbody>
                {% for clubs in listOfClubs%}
            <tr class="bg-gray-200">

                <th class="border border-gray-300 py-2 px-4">{{clubs['name']}}</th>
                <td class="border border-gray-300 py-2 px-4 text-center">{{clubs['points']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            Number of Places: {{comp['numberOfPlaces']}}
            {%if comp['numberOfPlaces']|int >0%}
            <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {%endif%}
        </li>
        <hr />
        {% endfor %}
    </ul>
    {% with messages = get_flashed_messages()%} {% if messages %}
    <ul>
      {% for message in messages %}
      <li class="{% if 'error' in message %}error{% else %}success{% endif %}">
        {{ message }}
      </li>
      {% endfor %}
      {% endif %}
      {% endwith %}

</body>
</html>